@model IEnumerable<Recipe_Management_Frontend.Models.Recipe>
@{
    ViewData["Title"] = "Recipes Posted By User";
}
<body>
<div class="container">
    <div class="p-1">
        <h4 class="text-center">My Recipes</h4>
    </div>
   
    @*Pending Recipes*@
    <div>
        <h5><span class="badge rounded-pill bg-warning px-3">Pending Recipes:</span></h5>
        @{
            if (Model.Count() > 0)
            {
                <div class="accordion mt-4 shadow accordion-flush" id="accordionExample" style="border-radius:10px">
                    @{
                        var recipes = Model.ToList();
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            if (recipes[i].Status == "Pending")
                            {
                                <div class="accordion-item" style="border-radius:5px">

                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse" style="background-color:white;box-shadow: none" data-bs-target="#collapseOne_@recipes[i].Id" aria-expanded="true" aria-controls="collapseOne">
                                        <div> @{
                                                if (recipes[i].Category == "Veg")
                                                {
                                                    <img src="assets/icons/veg_icon.png" class="img-fluid" style="width:20px;" />
                                                }
                                                else if (recipes[i].Category == "Non-Veg")
                                                {
                                                    <img src="assets/icons/non_veg_icon.png" class="img-fluid" style="width:20px;" />
                                                }
                                            }&nbsp;&nbsp;@recipes[i].Name
                                            </div>
                                        </button>
                                        
                                    </h2>
                                    <div id="collapseOne_@recipes[i].Id" class="@(i==0?"accordion-collapse p-3 collapse show":"accordion-collapse p-3 collapse")" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-sm-3 mb-2" style="border-right:1px solid black">
                                                    <h6>Ingredients</h6>
                                                    <ul>
                                                        @foreach (var item in recipes[i].Ingredients.Split(","))
                                                        {
                                                            <li class="text-capitalize">@item</li>
                                                        }
                                                    </ul>
                                                </div>

                                                <div class="col-sm-6 ms-sm-2">
                                                    <h6>Cooking Procedure</h6>
                                                    <p>@recipes[i].Procedure</p>
                                                </div>
                                                <div class="col-sm-2 ms-sm-2 me-md-2 d-flex justify-content-between align-items-baseline  justify-content-sm-center">
                                                        <button type="button" class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#editModal" onclick='openModal(  `@recipes[i].Name`,`@recipes[i].Category `,`@recipes[i].Ingredients`,`@recipes[i].Procedure`,  `@recipes[i].Id`)'>
                                                        Edit
                                                    </button>
                                                    <a class="btn btn-outline-danger mx-2" asp-action="DeleteRecipe" asp-route-id="@recipes[i].Id">Delete</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
            else
            {
                <h5 class="text-center mt-5">You haven't posted any recipes</h5>
            }
        }
    </div>
    <hr />

    @*Accepted Recipes*@
   <div>
        <h5><span class="badge rounded-pill bg-success px-3">Accepted Recipes:</span></h5>
        @{
            if (Model.Count() > 0)
            {
                <div class="accordion mt-4 shadow accordion-flush" id="accordionExample" style="border-radius:10px">
                    @{
                        var recipes = Model.ToList();
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            if(recipes[i].Status == "Accepted")
                            {
                                <div class="accordion-item" style="border-radius:5px">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse" style="background-color:white;box-shadow: none" data-bs-target="#collapseOne_@recipes[i].Id" aria-expanded="true" aria-controls="collapseOne">
                                            @{
                                                if (recipes[i].Category == "Veg")
                                                {
                                                    <img src="assets/icons/veg_icon.png" class="img-fluid" style="width:20px;" />
                                                }
                                                else if (recipes[i].Category == "Non-Veg")
                                                {
                                                    <img src="assets/icons/non_veg_icon.png" class="img-fluid" style="width:20px;" />
                                                }
                                            }&nbsp;&nbsp;@recipes[i].Name
                                        </button>
                                    </h2>
                                    <div id="collapseOne_@recipes[i].Id" class="@(i==0?"accordion-collapse p-3 collapse show":"accordion-collapse p-3 collapse")" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-sm-3 mb-2" style="border-right:1px solid black">
                                                    <h6>Ingredients</h6>
                                                    <ul>
                                                        @foreach (var item in recipes[i].Ingredients.Split(","))
                                                        {
                                                            <li class="text-capitalize">@item</li>
                                                        }
                                                    </ul>
                                                </div>

                                                <div class="col-sm-6 ms-sm-2">
                                                    <h6>Cooking Procedure</h6>
                                                    <p>@recipes[i].Procedure</p>
                                                </div>

                                                    <div class="col-sm-2 ms-sm-2 me-md-2 d-flex justify-content-between align-items-baseline  justify-content-sm-center">
                                                        <button type="button" class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#editModal" onclick='openModal(  `@recipes[i].Name`,`@recipes[i].Category `,`@recipes[i].Ingredients`,`@recipes[i].Procedure`,`@recipes[i].Id`)'>
                                                            Edit
                                                        </button>
                                                        <a class="btn btn-outline-danger mx-2" asp-action="DeleteRecipe" asp-route-id="@recipes[i].Id">Delete</a>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
            else
            {
                <h5 class="text-center mt-5">You haven't posted any recipes</h5>
            }
        }
   </div>
   <hr />

    @*Rejected Recipes*@
    <div>
        <h5><span class="badge rounded-pill bg-danger px-3">Rejected Recipes:</span></h5>
        @{
            if (Model.Count() > 0)
            {
                <div class="accordion mt-4 shadow accordion-flush" id="accordionExample" style="border-radius:10px">
                    @{
                        var recipes = Model.ToList();
                        for (int i = 0; i < Model.Count(); i++)
                        {
                            if (recipes[i].Status == "Rejected")
                            {
                                <div class="accordion-item" style="border-radius:5px">
                                    <h2 class="accordion-header" id="headingOne">
                                        <button class="accordion-button " type="button" data-bs-toggle="collapse" style="background-color:white;box-shadow: none" data-bs-target="#collapseOne_@recipes[i].Id" aria-expanded="true" aria-controls="collapseOne">
                                            @{
                                                if (recipes[i].Category == "Veg")
                                                {
                                                    <img src="assets/icons/veg_icon.png" class="img-fluid" style="width:20px;" />
                                                }
                                                else if (recipes[i].Category == "Non-Veg")
                                                {
                                                    <img src="assets/icons/non_veg_icon.png" class="img-fluid" style="width:20px;" />
                                                }
                                            }&nbsp;&nbsp;@recipes[i].Name
                                        </button>
                                    </h2>
                                    <div id="collapseOne_@recipes[i].Id" class="@(i==0?"accordion-collapse p-3 collapse show":"accordion-collapse p-3 collapse")" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                                        <div class="accordion-body">
                                            <div class="row">
                                                <div class="col-sm-3 mb-2" style="border-right:1px solid black">
                                                    <h6>Ingredients</h6>
                                                    <ul>
                                                        @foreach (var item in recipes[i].Ingredients.Split(","))
                                                        {
                                                            <li class="text-capitalize">@item</li>
                                                        }
                                                    </ul>
                                                </div>

                                                <div class="col-sm-6 ms-sm-2">
                                                    <h6>Cooking Procedure</h6>
                                                    <p>@recipes[i].Procedure</p>
                                                </div>

                                                    <div class="col-sm-2 ms-sm-2 me-md-2 d-flex justify-content-between align-items-baseline  justify-content-sm-center">
                                                        <button type="button" class="btn btn-outline-primary " data-bs-toggle="modal" data-bs-target="#editModal" onclick='openModal(  `@recipes[i].Name`,`@recipes[i].Category `,`@recipes[i].Ingredients`,`@recipes[i].Procedure`, `@recipes[i].Id`)'>
                                                            Edit
                                                        </button>
                                                        <a class="btn btn-outline-danger mx-2" asp-action="DeleteRecipe" asp-route-id="@recipes[i].Id">Delete</a>
                                                    </div>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    }
                </div>
            }
            else
            {
                <h5 class="text-center mt-5">You haven't posted any recipes</h5>
            }
        }
    </div>
</div>

@*Edit modal*@
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="editRecipeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="editRecipeModalLabel">Edit recipe</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form class="p-1 pb-3 "  id="form" asp-action="EditRecipe" method="post" >
                        <input type="number" id="id" name="id" readonly class="d-none"/>
                    <div class="mb-3">
                        <label for="recipeName" class="form-label">Recipe Name</label>
                        <input type="text" class="form-control" id="recipeName" name="recipeName" required >
                    </div>
                    <div class="mb-3">
                        <label for="category" class="form-label">Category</label>

                            <select class="form-select" aria-label="category" id="category" name="category" required>
                                <option id="selected" value="" selected>Select category</option>
                                <option id="Veg" value="Veg">Veg</option>
                                <option id="Non-Veg" value="Non-Veg">Non-Veg</option>
                            </select>
                    </div>
                        <div class="mb-3">
                            <label for="exampleInputEmail1" class="form-label">Ingredients</label>
                            <div id="ingredientslist"></div>
                            <div class="row d-flex align-items-center">
                                <input type="hidden" id="ingredientsList" name="ingredientsList" />
                                <div class="col-sm-6 ">
                                    <input type="text" class="form-control" id="ingredients"  />
                                </div>
                                <div class="col-sm-3">
                                    <button type="button" class="btn btn-primary my-2" onclick="addingredint()">
                                        Add Ingredient
                                    </button>
                                </div>
                            </div>
                        </div>
                    <div class="mb-3">
                        <label for="cookingProcess" class="form-label">Cooking Process</label>
                        <div class="form-floating">
                            <textarea class="form-control p-2" id="cookingProcess" name="cookingProcess" style="height: 150px" required></textarea>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>

<script>

        let ingredients;
        function openModal(name,category,ingredients1,procedure,id) {
            document.getElementById("recipeName").value = "" + name + ""
            document.getElementById("id").value=id
            console.log(document.getElementById("id").value)
            document.getElementById("selected").selected = false
            if(category === "Veg ")
            {
                document.getElementById("Veg").selected = true
            }
            else
            {
                document.getElementById("Non-Veg").selected = true
            }
            
            document.getElementById("cookingProcess").value = ""+procedure+""
        
            ingredients = ingredients1.split(",");
            createIngredientList();
            if (ingredients.length > 0) {
                document.getElementById("ingredients").required = false;
            }
            
            }

        const createIngredientList = () => {
            let ingredientslist = document.createElement("div");
            ingredients.forEach((e, i) => {
                let ingredient = document.createElement("span");
                ingredient.setAttribute("class", "badge bg-success px-2 mb-2 me-2 text-capitalize");
                ingredient.innerHTML = e;
                let closebtn = document.createElement("button");
                closebtn.setAttribute("class", "btn-close btn-close-white close-btn p-1 ms-1");
                closebtn.setAttribute("type", "button");
                closebtn.setAttribute("onclick", "deleteingredient(this)");
                closebtn.setAttribute("id", e);
                ingredient.appendChild(closebtn);
                ingredientslist.appendChild(ingredient);
            });

            document.getElementById("ingredientslist").innerHTML = null;
            document.getElementById("ingredientslist").appendChild(ingredientslist);
            document.getElementById("ingredientsList").value = ingredients.join(",");
         
        };


        const addingredint = () => {
            if (document.getElementById("ingredients").value.trim() === "")
            {
                return
            }
            const arr = document.getElementById("ingredients").value.split(",");
            arr.forEach((e,i)=>{
                ingredients.push(e.toLowerCase().trim());
                ingredients = Array.from(new Set(ingredients));
            })
            document.getElementById("ingredientsList").value = ingredients.join(",");
            console.log(ingredients);
            document.getElementById("ingredients").value = "";
            document.getElementById("ingredients").required = false;
            createIngredientList();
        };

        const deleteingredient = (e) => {
            ingredients = ingredients.filter((i) => i != e.getAttribute("id"));
            console.log(ingredients);
            createIngredientList();
            document.getElementById("ingredientsList").value = ingredients.join(",");
            if (ingredients.length == 0) {
                document.getElementById("ingredients").required = true;
            }
         
        };
    </script>
</body>