@model Recipe_Management_Frontend.Models.Recipe

@{
    ViewData["Title"] = "Recipe Name";
}

<div class="container shadow-sm p-4">
    <div class="row">
        <h2 class="col-md-8">
        @Model.Name &nbsp;@{
            if (Model.Category == "Veg")
            {
                    <img src="assets/icons/veg_icon.png" class="img-fluid" style="width:30px;" />
            }
            else if (Model.Category == "Non-Veg")
            {
                    <img src="assets/icons/non_veg_icon.png" class="img-fluid" style="width:30px;" />
            }
        }
    </h2>
        <div class="col-md-2">
            <a class="btn btn-outline-success w-100" asp-action="Accept" asp-route-id="@Model.Id">Accept</a>
        </div>
        <div class="col-md-2">
            <a class="btn btn-outline-danger w-100" asp-action="Delete" asp-route-id="@Model.Id">Reject</a>
        </div>

    </div>
   
    
    <div class="mt-4">
        <h5>Ingredients</h5>
        <div class="p-1 mt-3">
            @{
                foreach (var item in Model.Ingredients.Split(","))
                {
                    <span class="badge bg-info fs-6 m-2">@item</span>
                }
            }
        </div>
    </div>
    <div class="mt-5">
        <h5>Cooking Procedure</h5>
        <div class="p-1">
            <p>@Model.Procedure</p>
        </div>
    </div>
</div>

