@model Recipe_Management_Frontend.Models.Register
@{
    ViewData["Title"] = "Index";
}

@if (TempData["errors"] != null)
{
    <div class="alert alert-warning alert-dismissible fade show bg-danger text-white " role="alert">
        <strong>@TempData["errors"]</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
}

<div class="container d-flex justify-content-center align-items-center flex-column shadow  bg-white rounded py-3  " style="max-width:400px;margin-top:60px">
    <!-- Content here -->
    <h4 class="p-3 text-center">Recipe Management System</h4>
   
    <form method="post" asp-action="RegisterOne" class="w-75">

        <div class="p-2  ">
            <input type="text" placeholder="Name" asp-for="Name" class="p-2 w-100 col-lg-4 " />
            @Html.ValidationMessage("Name",new {@class="text-danger small"})
        </div>
    <div class="p-2 " >
            <input type="text" placeholder="Email Id" asp-for="Email" class=" p-2 w-100 col-lg-4" />
            @Html.ValidationMessage("Email",new {@class="text-danger small"})
    </div>
        <div class="p-2  ">
            <input type="password" placeholder="Password" asp-for="Password" class="p-2 w-100 col-lg-4 " />
            @Html.ValidationMessage("Password",new {@class="text-danger small"})
        </div>
        <div class="p-2  ">
            <input type="password" placeholder="Confirm Password" asp-for="ConfirmPassword" class="p-2 w-100 col-lg-4" />
            @Html.ValidationMessage("ConfirmPassword",new {@class="text-danger small"})
        </div>
        <div class="p-2 text-center mt-0 ">
            <input type="submit" class="btn btn-primary w-100" value="Register"/>
            
        </div>
<p class="text-center mb-0">or</p>

<div class="p-2 text-center mt-2">
        <button class="btn btn-primary w-100" asp-action="Index">Log In</button>
    </div>
    </form>
    
</div>

